{% extends "avgs/base.html" %}

{% block title %}Avg Temp for Today{% endblock %}

{% block content %}
    <h1>{{ type }} for {{ loc }}</h1>
    <p>Today is {{ mon }}/{{ day }}, {{ yr }} in {{ loc }} </p>
    <p>The overall average high/low temp for this day was {{ today_avg.tmax__avg|floatformat:0 }}/{{ today_avg.tmin__avg|floatformat:0 }} </p>
    <p>The overall highest/lowest HIGH temp was for this day {{ today_avg.tmax__max }}/{{ today_avg.tmax__min}} </p>
    <p>The overall highest/lowest LOW temp was for this day {{ today_avg.tmin__max }}/{{ today_avg.tmin__min }} </p>
    <table>
        <tr>
            <th></th>
            <th>1910</th>
            <th>1920</th>
            <th>1930</th>
            <th>1940</th>
            <th>1950</th>
            <th>1960</th>
            <th>1970</th>
            <th>1980</th>
            <th>1990</th>
            <th>2000</th>
            <th>2010</th>
            <th>2020</th>
        </tr>
        <tr>
            <td>Avg Hi</td>
            <td> {{ decade1910.tmax__avg|floatformat:0 }}</td>
            <td> {{ decade1920.tmax__avg|floatformat:0 }}</td>
            <td> {{ decade1930.tmax__avg|floatformat:0 }}</td>
            <td> {{ decade1940.tmax__avg|floatformat:0 }}</td>
            <td> {{ decade1950.tmax__avg|floatformat:0 }}</td>
            <td> {{ decade1960.tmax__avg|floatformat:0 }}</td>
            <td> {{ decade1970.tmax__avg|floatformat:0 }}</td>
            <td> {{ decade1980.tmax__avg|floatformat:0 }}</td>
            <td> {{ decade1990.tmax__avg|floatformat:0 }}</td>
            <td> {{ decade2000.tmax__avg|floatformat:0 }}</td>
            <td> {{ decade2010.tmax__avg|floatformat:0 }}</td>
            <td> {{ decade2020.tmax__avg|floatformat:0 }}</td>
        </tr>
        <tr>
            <td>Avg Low</td>
            <td> {{ decade1910.tmin__avg|floatformat:0 }}</td>
            <td> {{ decade1920.tmin__avg|floatformat:0 }}</td>
            <td> {{ decade1930.tmin__avg|floatformat:0 }}</td>            
            <td> {{ decade1940.tmin__avg|floatformat:0 }}</td>
            <td> {{ decade1950.tmin__avg|floatformat:0 }}</td>            
            <td> {{ decade1960.tmin__avg|floatformat:0 }}</td>
            <td> {{ decade1970.tmin__avg|floatformat:0 }}</td>            
            <td> {{ decade1980.tmin__avg|floatformat:0 }}</td>
            <td> {{ decade1990.tmin__avg|floatformat:0 }}</td>            
            <td> {{ decade2000.tmin__avg|floatformat:0 }}</td>
            <td> {{ decade2010.tmin__avg|floatformat:0 }}</td>            
            <td> {{ decade2020.tmin__avg|floatformat:0 }}</td>          
        </tr>
        <tr>
            <td>Highest High</td>
            <td>{{ decade1910.tmax__max}} </td>
            <td>{{ decade1920.tmax__max}} </td>
            <td>{{ decade1930.tmax__max}} </td>
            <td>{{ decade1940.tmax__max}} </td>
            <td>{{ decade1950.tmax__max}} </td>
            <td>{{ decade1960.tmax__max}} </td>
            <td>{{ decade1970.tmax__max}} </td>
            <td>{{ decade1980.tmax__max}} </td>
            <td>{{ decade1990.tmax__max}} </td>
            <td>{{ decade2000.tmax__max}} </td>
            <td>{{ decade2010.tmax__max}} </td>
            <td>{{ decade2020.tmax__max}} </td>
        </tr>
        <tr>
            <td>Lowest High</td>
            <td>{{ decade1910.tmax__min}} </td>
            <td>{{ decade1920.tmax__min}} </td>
            <td>{{ decade1930.tmax__min}} </td>
            <td>{{ decade1940.tmax__min}} </td>
            <td>{{ decade1950.tmax__min}} </td>
            <td>{{ decade1960.tmax__min}} </td>
            <td>{{ decade1970.tmax__min}} </td>
            <td>{{ decade1980.tmax__min}} </td>
            <td>{{ decade1990.tmax__min}} </td>
            <td>{{ decade2000.tmax__min}} </td>
            <td>{{ decade2010.tmax__min}} </td>
            <td>{{ decade2020.tmax__min}} </td>
        </tr>
        <tr>
            <td>Highest Low</td>
            <td>{{ decade1910.tmin__max}} </td>
            <td>{{ decade1920.tmin__max}} </td>
            <td>{{ decade1930.tmin__max}} </td>
            <td>{{ decade1940.tmin__max}} </td>
            <td>{{ decade1950.tmin__max}} </td>
            <td>{{ decade1960.tmin__max}} </td>
            <td>{{ decade1970.tmin__max}} </td>
            <td>{{ decade1980.tmin__max}} </td>
            <td>{{ decade1990.tmin__max}} </td>
            <td>{{ decade2000.tmin__max}} </td>
            <td>{{ decade2010.tmin__max}} </td>
            <td>{{ decade2020.tmin__max}} </td>
        </tr>
        <tr>
            <td>Lowest Low</td>
            <td>{{ decade1910.tmin__min}} </td>
            <td>{{ decade1920.tmin__min}} </td>
            <td>{{ decade1930.tmin__min}} </td>
            <td>{{ decade1940.tmin__min}} </td>
            <td>{{ decade1950.tmin__min}} </td>
            <td>{{ decade1960.tmin__min}} </td>
            <td>{{ decade1970.tmin__min}} </td>
            <td>{{ decade1980.tmin__min}} </td>
            <td>{{ decade1990.tmin__min}} </td>
            <td>{{ decade2000.tmin__min}} </td>
            <td>{{ decade2010.tmin__min}} </td>
            <td>{{ decade2010.tmin__min}} </td>
        </tr>
    </table>
    <h2>Top 10 HIGHEST Temps for {{ loc }}</h2>
    <table>
        <tr>
            <th>Date</th><th>Temperature</th>
        </tr>
        {% for x in hottest10 %}
        <tr>
            <td> {{ x.tdate }} </td>
            <td> {{ x.tmax }} </td>
        </tr>
        {% endfor %}
    </table>
    <h2>Top 10 LOWEST Temps for {{ loc }}</h2>
    <table>
        <tr>
            <th>Date</th><th>Temperature</th>
        </tr>
        {% for x in coldest10 %}
        <tr>
            <td> {{ x.tdate }} </td>
            <td> {{ x.tmin }} </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
  </body>
</html>
