<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Daily Avgs</title>
  </head>
  <body>
    <h1>Welcome to Daily Temperature Averages page</h1>
    <p>When we hear on the weather report that today will be warmer or cooler than average, they never mention how they calculated the average. Is it the average for the last 3 years, the last 30 years, or the last 300 years?</p>
    <p>The basic form of this page will allow you to select a US city and then calculate the average temperatures for this day based on decade. It then will display a chart of those averages by decade, for example, 1900-1909, 1910-1919, 1920-1929, etc. up to the latest date.</p>
  </body>
</html>
